/* app css stylesheet */
body { 
  min-width: 500px;
}

.no-margin {
    margin: 0;
}

.page-header {
    margin-top: 1em;
}

.larger {
    font-size: 2em;
}

.container {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: rgba(255,255,255,0.93);
    min-height: 100vh;
    position: relative;
}

.content {
    padding-bottom: 30px;
}

.footer {
    border-top: 1px solid #eee;
    padding: 10px;
    position: absolute;
    bottom: 0;
}
.footer p {
    margin: 0px;
}

.divider {
    border-bottom: 1px solid #eee;
}

.center {
    text-align: center;
}

.glyphicon-camera, .glyphicon-piggy-bank {
    top: 0.1em;
}

#bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 105%;
    min-height: 100%;
}

.preview {
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 100%;
    margin-bottom: 0.66em;
}

#beschrijving .preview {
    display: none;
    visibility: hidden;
}

.onlypreview > * {
    display: none;
    visibility: hidden;
}
.onlypreview .preview {
    display: inherit;
    visibility: visible;
}

.giftcard {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
}

.giftcard .qrcode-wrapper {
    display: block;
    margin: 0px;
    padding: 0px;
}

.giftcard .qrcode-link {
    line-height: 0px;
    padding: 0px;
    margin: 0px;
}
.giftcard .qrcode {
    width: 100%;
    margin: 0px;
    padding: 5px 5px 5px 0px;
}

.activitycard {
    margin: 1em;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
}

.activitycard .image {
    padding: 0em;
}

.activitycard a {
    font-size: 1.3em;
    margin-right: 0.5em;
}

.activitycard a .glyphicon-piggy-bank {
    top: 5px;
}

.activitycard img {
    border-right: 1px solid black;
    margin-bottom: -0.01%;
    border-radius: 4px 0px 0px 4px;
    width: 100%;
    margin-right: 15px;
}