/* app css stylesheet */
body { 
  min-width: 500px;
}

.page-header {
    margin-top: 1em;
}

.container {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: rgba(255,255,255,0.93);
    min-height: 100vh;
    position: relative;
}


.footer {
    border-top: 1px solid #eee;
    padding: 10px;
    position: absolute;
    bottom: 0;
}
.footer p {
    margin: 0px;
}

.divider {
    border-bottom: 1px solid #eee;
}

.glyphicon-camera, .glyphicon-piggy-bank {
    top: 0.1em;
}

#bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 105%;
    min-height: 100%;
}

.giftcard {
    position: relative;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.giftcard .qrcode {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid #eee;
    text-align: center;
}

.giftcard .qrcode img {
    margin: auto;
}