.carousel {
    margin: auto;
}
.carousel .carousel-inner img {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
}
.carousel .carousel-indicators {
    margin: 1px 0 0;
    overflow: auto;
    position: static;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}
.carousel .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    text-anchor:middle;
    margin: 0 !important;
    width: 20%;
}
.carousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    width: 100%;
    border: 1px solid black;
}
.carousel .carousel-indicators li.active img {
    opacity: 1;
}
.carousel .carousel-indicators li:hover img {
    opacity: 0.75;
}
.carousel .carousel-outer {
    position: relative;
}

.right.carousel-control, .left.carousel-control {
    background-image: none;
}