<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1><small ng-if="ctrl.location.maps.length > 0"><a href="{{ctrl.location.maps}}" target="_blank"><i class="fa fa-map-signs"></i></a></small> {{ctrl.location.title}}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p><a href back><span class="glyphicon glyphicon-chevron-left"></span>Vorige</a></p>
    </div>
</div>
    <!-- Overzicht -->
<div class="row">
    <div class="col-xs-12">
        <h2><i class="fa fa-id-card-o"></i> Overzicht</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <carousel items="ctrl.location.images"></carousel>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <div class="col-xs-12" style="font-size: larger; margin: 0.3em 0" ng-repeat="stat in ctrl.stats track by $index" ng-if="stat.value" title="{{stat.title}}"><span ng-bind-html="stat.key"></span> <span ng-bind-html="stat.value"></span></div>
            </div>
        </div>
    </div>
</div>
    <!-- Beschrijving -->
<div id="beschrijving" class="row">
    <div class="col-xs-12">
        <h2><i class="fa fa-newspaper-o"></i> Beschrijving</h2>
    </div>
    <div class="col-xs-12">
        <div ng-bind-html="ctrl.location.description"></div>
    </div>
</div>
    <!-- Hotel-->
<div id="hotel" class="row" ng-if="ctrl.location.hotel">
    <div class="col-xs-12">
        <h3><pan class="fa fa-bed"></pan> {{ctrl.location.hotel.name}} <span ng-if="ctrl.location.hotel.location.length > 0"><a href="{{ctrl.location.hotel.location}}" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a></span></h3>
    </div>
    <div class="col-xs-12">
        <p>Kamer Type: <span>{{ctrl.location.hotel.room}}</span></p>
        <p>Aantal Overnachtingen: <span>{{ctrl.location.hotel.nights}}</span></p>
    </div>
    <div class="col-xs-12">
        <div ng-bind-html="ctrl.location.hotel.description"></div>
    </div>
</div>
    <!-- Activiteiten -->
<div id="activiteiten" class="row" ng-if="ctrl.location.activities.length > 0">
    <div class="col-xs-12">
        <h3><i class="fa fa-ticket"></i> Activiteiten</h3>
    </div>
    <div class="col-xs-12">
        <ul>
            <li ng-repeat="activity in ctrl.location.activities"><h3><span ng-bind-html="activity.name"></span> - <span ng-bind-html="activity.description"></span></h3></li>
        </ul>
    </div>
</div>
